body {
  margin:0;
  padding:0;
  background-color: black;
  color: wheat;
  font-family: monospace;
}

.content{
  width: min-content;
  margin: auto;
}

h1{
  text-align: center;
  font-size: 1.5rem;
}

canvas {
  margin:auto;
}

textarea {
  width: 25rem;
  height: 25rem;
  white-space: nowrap;
  overflow: auto;
  resize: none;
}